@media screen and (max-width: 699px) and (min-width: 320px) {
	/* for mobile */
	.verticalLine {
		margin: 1em;
		border-top: 2px solid #cccccc;
	}
	.g-margin-r-20 {
		margin-right: -20px;
	}
	.g-border {
		margin-right: 0px;
	}

	.g-search {
		position: absolute;
		top: 100px;
		left: 0;
		width: 100%;
		-ms-flex-line-pack: center;
	}
	#g-btn-search {
		height: 40px;
		width: 30%;
		padding-right: 50px;
		/* font-size: 16px; */
		/* font-weight: 500; */
		border: 2px solid #f18336;
		border-radius: 0px 30px 30px 0px;
		background-color: #f18336;
	}

	#g-search-input,
	#g-search-input:hover,
	#g-search-input:focus,
	#g-search-input:active {
		margin-bottom: 0px;
		width: 65%;
		height: 40px;
		font-size: 15px;
		font-weight: 500;
		border: 2px solid #f18336 !important;
		border-radius: 30px 0px 0px 30px;
		padding-left: 1.5em;
	}
}

@media screen and (max-width: 1000px) and (min-width: 700px) {
	/* for tablet */
	.verticalLine {
		border-left: 2px solid #cccccc;
	}
	.g-border {
		margin-right: 0px;
	}
	.g-search {
		position: absolute;
		top: 180px;
		left: 0;
		width: 100%;
	}
	#g-search-input,
	#g-search-input:hover,
	#g-search-input:focus,
	#g-search-input:active {
		margin-bottom: 0px;
		width: 80%;
		height: 54px;
		font-size: 15px;
		font-weight: 500;
		border: 2px solid #f18336 !important;
		border-radius: 30px 0px 0px 30px;
		padding-left: 1.5em;
	}
	#g-btn-search {
		height: 54px;
		padding-right: 50px;
		font-size: 16px;
		font-weight: 500;
		border: 2px solid #f18336;
		border-radius: 0px 30px 30px 0px;
		background-color: #f18336;
	}
}

@media screen and (min-width: 1001px) {
	/* for desktop */
	.verticalLine {
		border-left: 2px solid #cccccc;
	}
	.g-border {
		margin-right: 10px;
	}

	.g-search {
		position: absolute;
		top: 200px;
		left: 0;
		width: 100%;
	}

	#g-search-input,
	#g-search-input:hover,
	#g-search-input:focus,
	#g-search-input:active {
		margin-bottom: 0px;
		width: 80%;
		height: 54px;
		font-size: 15px;
		font-weight: 500;
		border: 2px solid #f18336 !important;
		border-radius: 30px 0px 0px 30px;
		padding-left: 1.5em;
	}
	#g-btn-search {
		height: 54px;
		padding-right: 50px;
		font-size: 16px;
		font-weight: 500;
		border: 2px solid #f18336;
		border-radius: 0px 30px 30px 0px;
		background-color: #f18336;
	}
}

.headerLink:hover,
.headerLink:focus {
	background-color: white;
}
.header-bar {
	border-top: 3px solid #f18336;
}
.ant-modal-header {
	border-top: 3px solid #f18336;
}
.g-heder,
.g-heder:hover {
	padding-left: 20px;
	padding-bottom: 5px;
	color: #f18336;
	position: absolute;
	display: inline-block;
	font-size: 2.1rem;
	text-decoration: none;
}

.g-nav-wrapper {
	position: static;
	height: 100%;
}
.g-font-color {
	color: #f18336;
}

.g-black {
	color: black;
}

.g-btn,
.g-btn:hover,
.g-btn:focus {
	background-color: #f18336;
	color: white;
	border-radius: 30px;
	text-transform: none;
	border-color: #f18336;
}
.g-btn-g-color,
.g-btn-g-color:hover,
.g-btn-g-color:focus {
	color: #f18336;
	border-color: #f18336;
}

span {
	padding-right: 5px;
}

.ant-modal-title {
	font-size: x-large;
	color: #f18336;
}

.headerDivider {
	border-left: 1px solid #38546d;
	border-right: 1px solid #16222c;
	height: 190px;
	position: absolute;
	right: 249px;
	top: 70px;
}

.btn-fb,
.btn-fb:hover,
.btn-fb:focus {
	padding-left: 3px;
	background-color: #3a5a99;
	color: white;
	width: 100%;
	margin-top: 10px;
}

.btn-google {
	padding-left: 3px;
	width: 100%;
	margin-top: 10px;
}
.btn-email,
.btn-email:hover,
.btn-email:focus {
	padding-left: 3px;
	background-color: #f18336;
	color: white;
	width: 100%;
	margin-top: 10px;
	padding-left: 10px;
	border-color: #f18336;
}
.g-btn-submit,
.g-btn-submit:hover,
.g-btn-submit:focus {
	background-color: #f18336;
	border-color: #f18336;
}

/* For Carousel */
.ant-carousel .slick-slide {
	text-align: center;
	height: 450px;
	line-height: 160px;
	background: #364d79;
	overflow: hidden;
}

.ant-carousel .slick-slide h3 {
	color: #fff;
}
.g-carousel-img {
	width: 100%;
	height: 450px;
}

.g-block {
	background-color: #eeeeee;
}
.g-border {
	border: 1px solid #f18336;
	border-radius: 5px;
	background-color: white;
}
.g-spacing {
	margin-top: 20px;
	margin-bottom: 20px;
}
.g-color {
	color: #f18336;
	text-align: center;
}
.g-card-spacing {
	margin: 4px 2px;
}
.g-card-img {
	height: 200px;
}
.g-margin-lr {
	margin: auto 1em;
}
.g-margin-lr4 {
	margin: auto 4px;
}
.g-margin-top-bottom2 {
	margin: 2em auto;
}
.g-box {
	padding: 50px 0px 50px 0px;
}
.g-trip-box {
	border: 1px dotted #cccccc;
	border-radius: 5px;
	padding: 5px 10px;
	margin-right: 6em;
	margin-bottom: 2em;
}
.g-footer {
	padding: 70px 0px 70px 0px;
	background-color: #6a6a6a;
}
.g-copyright {
	background-color: #f18336;
	color: white;
	padding: 3px;
	text-align: right;
}
.g-detail {
	background-color: #eeeeee;
}

.g-img {
	width: 100px;
	height: 100px;
}
.g-profile {
	padding: 0px 5px 0px 5px;
}
.g-padding {
	padding: 15px 0px 20px 0px;
}
.shadow {
	-moz-box-shadow: inset 0 0 3px #000000;
	-webkit-box-shadow: inset 0 0 3px #000000;
	box-shadow: inset 0 0 3px #000000;
}
.g-star-color {
	color: #ecaa00;
}

.chinese {
	background-color: red;
	color: white;
}
.g-rate {
	color: #ecaa00;
}

.g-img-box {
	padding: 15px;
}
.g-price-box {
	background-color: #eeeeee;
	padding: 0.5em 0.5em 0.5em 1em;
	border-radius: 3px;
}
.g-space {
	padding-left: 4em;
}
.g-padding-footer {
	padding: auto 1em;
}
.g-space-3 {
	padding-left: 3em;
}
.g-space-2 {
	padding-left: 2em;
}

.g-space-r1 {
	padding-right: 1em;
}
.g-btn-right {
	float: right;
	margin-right: 15px;
}
.g-hr {
	margin: 0px;
	border-style: double;
	border-color: #cccccc;
}

.g-margin {
	margin-top: 2em;
	margin-bottom: 1em;
}
.g-margin-r1 {
	margin: 0.25em 0.5em;
}
.g-margin-b1 {
	margin-bottom: 0.5em;
}
.g-margin-b2 {
	margin: 5px auto 2em auto;
}

.g-img-view {
	width: 100%;
	height: 100%;
}
.g-margin-1 {
	margin: 1em;
}

.g-review-header {
	margin: 3em 0em 0.5em 0em;
}
.g-float-r {
	float: right;
}
.error {
	color: #f31e0e;
}
.g-margin-t1 {
	margin-top: 1em;
}
.g-margin-t15 {
	margin-top: 40px;
}
.g-width-full {
	width: 100%;
}
.g-inline {
	display: inline;
}
.g-btn-default {
	color: #40a9ff;
	border-color: #40a9ff;
}

input:not([type]),
input[type="text"]:not(.browser-default),
input[type="text"]:not(.ant-select-search__field),
input[type="password"]:not(.browser-default),
input[type="email"]:not(.browser-default),
input[type="url"]:not(.browser-default),
input[type="time"]:not(.browser-default),
input[type="date"]:not(.browser-default),
input[type="datetime"]:not(.browser-default),
input[type="datetime-local"]:not(.browser-default),
input[type="tel"]:not(.browser-default),
input[type="number"]:not(.browser-default),
input[type="search"]:not(.browser-default),
textarea.materialize-textarea {
	font-family: "Helvetica Neue For Number", -apple-system, BlinkMacSystemFont,
		"Segoe UI", Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei",
		"Helvetica Neue", Helvetica, Arial, sans-serif;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	margin-bottom: 8px;
	padding: 0;
	list-style: none;
	position: relative;
	display: inline-block;
	padding: 4px 11px;
	width: 100%;
	height: 32px;
	font-size: 14px;
	line-height: 1.5;
	color: rgba(0, 0, 0, 0.65);
	background-color: #fff;
	background-image: none;
	border: 1px solid #d9d9d9;
	border-radius: 4px;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
input:not([type]),
input:not([type]):hover,
input:not([type]):active,
input:not([type]):focus {
	border-bottom: 0.5px solid #fff !important;
	box-shadow: 0 0.5px 0 0 white !important;
	cursor: cell;
	all: unset;
}

input[type="text"]:focus,
input[type="text"]:not(.ant-select-search__field):focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="date"]:focus,
textarea:focus {
	border: 0.5px solid #1890ff !important;
	box-shadow: 0 0.5px 0 0 #1890ff !important;
}
input[type="text"]:hover,
input[type="text"]:not(.ant-select-search__field):hover,
input[type="number"]:hover,
input[type="email"]:hover,
input[type="password"]:hover,
input[type="date"]:hover,
textarea:hover {
	border: 0.5px solid #1890ff !important;
	box-shadow: 0 0.5px 0 0 #1890ff !important;
}
.ant-form-item {
	margin-bottom: 1px;
}
.g-form-required:after {
	display: inline-block;
	margin-left: 4px;
	content: "*";
	font-family: SimSun;
	line-height: 1;
	font-size: 14px;
	color: #f5222d;
}
.g-margin-b0 {
	margin-bottom: 0px;
}
.g-margin-r8 {
	margin-right: 8px;
}
.g-margin-r4 {
	margin-right: 4px;
}
.g-trip-img {
	width: 100%;
	height: 300px;
}
.g-galleryview {
	height: 440px;
}
.g-gallery-list {
	width: 92px;
	height: 92px;
	border: 1px solid #cccccc;
	padding: 3px;
	margin: auto 3px 6px 3px;
	cursor: pointer;
}
.g-remove-underline {
	text-decoration: none !important;
}

.g-btnAdd {
	background-color: white;
	border: 1px solid #1890ff;
	border-radius: 4px;
	height: 30px;
	color: black;
	text-align: center;
	line-height: 2;
	margin: 3px 3px 3px auto;
}

.g-width30 {
	width: 30%;
	display: block;
}
.g-width300 {
	width: 300px;
}
.g-width200 {
	width: 200px;
}
.g-margin-t8 {
	margin-top: 0.5em;
}
.g-lang-block {
	border: 1px solid #1890ff;
	padding: 7px;
	margin: 5px 20px 10px 0px;
	border-radius: 5px;
	background-color: #1890ff;
	color: white;
	width: 44%;
	height: 40px;
	float: left;
	line-height: 2;
	justify-content: center;
	display: flex;
}

.g-lang-level {
	line-height: 4;
	float: right;
}

.g-level-delete {
	margin-left: 5px;
	color: #f44336;
	cursor: pointer;
}
.g-level-edit {
	margin-left: 5px;
	color: dodgerblue;
	cursor: pointer;
}
#g-margin-top5 {
	margin-top: 0.5em;
}
.g-carousel {
	position: relative;
	width: 100%; /* for IE 6 */
}

.ant-form-item-label label:after {
	content: "*";
	margin: 0 8px 0 2px;
	position: relative;
	top: 0px;
	padding-left: 2px;
	color: #f5222d;
}

.ant-form-item-required::before {
	display: inline-block;
	margin-right: 4px;
	content: "";
	font-family: SimSun;
	line-height: 1;
}
.ant-form-item-label {
	line-height: 25px;
}
.g-step-border {
	border: 1px solid #eeeeee;
	padding-top: 10px;
	padding-bottom: 10px;
	margin: 10px;
	border-radius: 3px;
}
.g-step-img {
	width: 100%;
	max-height: 250px;
}

#step .clearfix .ant-upload.ant-upload-select-picture-card,
#step .clearfix .ant-upload-list-picture-card .ant-upload-list-item {
	width: 500px;
	height: 300px;
	margin: auto;
	align-content: center;
}
.g-div-align-item-center {
	display: grid;
	align-items: center;
	justify-content: center;
}
.ant-card-meta-detail {
	max-width: 190px;
	word-wrap: break-all;
}
.ant-card-body {
	height: 125px;
}
.ant-card-meta {
	margin: -19px -10px;
}

.ant-menu-item-selected {
	color: #f18336;
}
.fa {
	margin-right: 5px;
}
.g-user-profile {
	width: 203px;
	height: 200px;
	border-right: 1px solid #f18336;
}
.g-user-profile-small {
	width: 80px;
	height: 200px;
	border-right: 1px solid #f18336;
}
.g-user-profile-div {
	margin: 40px 50px 5px 50px;
}
.g-user-profile-img {
	width: 100px;
	height: 100px;
}
.g-user-profile-div-small {
	margin: 30px 0px 3px 7px;
}
.g-user-profile-img-small {
	width: 50px;
	height: 50px;
}
.g-flower-border {
	border-right: 1px solid #f18336;
	height: 100%;
}
.g-follwer-bottom {
	border-bottom: 1px solid #f18336;
	margin: 10px auto;
	padding-bottom: 5px;
}
.g-flower-list-item {
	margin: 8px auto;
}
.g-msg-count {
	background-color: #f18336;
	color: white;
	border-radius: 9px;
	padding: 0px 9px;
	float: right;
	margin-right: 1em;
}
.g-flower-name {
	margin-left: 5px;
}
.g-img-40px {
	margin: auto 5px;
	width: 40px;
	height: 40px;
	border-radius: 40px;
	border: 2px solid #00bcd4;
}
.g-padding0 {
	padding: 0rem;
}
.g-margin-b0 {
	margin-bottom: 0px;
}
.g-margin-b8 {
	margin-bottom: 8px;
}
.g-pstyle {
	margin: 0 1em 0.25em auto;
}
.g-follower-search {
	margin: 10px auto;
}

.g-chat-img {
	margin: auto 1.5em auto 5px;
	max-width: 50px;
	max-height: 50px;
	border-radius: 50px;
	border: 2px solid #00bcd4;
	float: left;
}

.g-chat-float-right {
	margin: auto 5px auto 1.5em;
	max-width: 50px;
	max-height: 50px;
	border-radius: 50px;
	border: 2px solid #00bcd4;
	float: right;
}
.bubble-owner {
	position: relative;
	max-width: 89%;
	padding: 5px;
	font-family: arial;
	margin: 4px 10px 4px 0px;
	background: #ffffff;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: #f18336 solid 2px;
	float: right;
}

.bubble-owner:after {
	content: "";
	position: absolute;
	border-style: solid;
	border-width: 8px 15px 8px 0;
	border-color: transparent #ffffff;
	display: block;
	width: 0;
	z-index: 1;
	left: -15px;
	top: 13px;
}

.bubble-owner:before {
	content: "";
	position: absolute;
	border-style: solid;
	border-width: 9px 16px 9px 0;
	border-color: transparent #f18336;
	display: block;
	width: 0;
	z-index: 0;
	left: -18px;
	top: 12px;
}

.bubble-user {
	position: relative;
	max-width: 89%;
	padding: 5px;
	font-family: arial;
	margin: 4px 8px;
	font-size: 14px;
	background: #ffffff;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: #f18336 solid 2px;
}

.bubble-user:after {
	content: "";
	position: absolute;
	border-style: solid;
	border-width: 8px 0 8px 15px;
	border-color: transparent #ffffff;
	display: block;
	width: 0;
	z-index: 1;
	right: -15px;
	top: 13px;
}

.bubble-user:before {
	content: "";
	position: absolute;
	border-style: solid;
	border-width: 9px 0 9px 16px;
	border-color: transparent #f18336;
	display: block;
	width: 0;
	z-index: 0;
	right: -18px;
	top: 12px;
}

.g-chatbox {
	border-top: 1px solid #f18336;
	margin: 11px auto;
	padding-top: 10px;
}

.g-chat-block {
	height: 550px;
}
.g-height-500 {
	height: 455px;
}
.ant-menu-inline {
	height: 345px;
}
.g-disable {
	cursor: not-allowed;
}
a:-webkit-any-link {
	text-decoration: none;
}
.g-margin-l15 {
	margin-left: 15px;
}
.g-span-label {
	line-height: 25px;
	color: black;
	font-size: 14px;
	margin-left: 3px;
	display: block;
}
.g-display-side {
	display: flex;
}
.g-label {
	color: black;
	font-size: 14px;
	margin: 3px;
}
.g-sidebar-l {
	float: left;
	width: 20%;
	overflow: hidden;
}
.g-sidebar-r {
	float: left;
	width: 79%;
	overflow: hidden;
}
.trigger {
	font-size: 18px;
	line-height: 64px;
	padding: 0 24px;
	cursor: pointer;
	transition: color 0.3s;
}

.trigger:hover {
	color: #1890ff;
}

.ant-layout-sider {
	background-color: white;
}
.g-text-center {
	text-align: center;
}
.g-collapse-small {
	margin-left: 80px;
}
.g-collapse-large {
	margin-left: 200px;
}
.g-fieldset {
	border: 1px dotted #cccccc;
	border-bottom: none;
}
.g-legend {
	width: 0%;
}
.g-legend-img {
	margin: auto 5px;
	width: 70px;
	height: 70px;
	border-radius: 70px;
	border: 2px solid #00bcd4;
}
.g-img-legend {
	display: inline-flex;
}

.logo {
	height: 175px;
	margin-left: 3em;
}

.logo-small {
	height: 175px;
}

#logo .clearfix .ant-upload-list-picture-card .ant-upload-list-item {
	width: 120px;
	height: 120px;
	border-radius: 50%;
	margin: auto;
	-ms-flex-line-pack: center;
	align-content: center;
	border: none;
}
#logo .clearfix .ant-upload-list-picture-card .ant-upload-list-item-thumbnail,
#logo
	.clearfix
	.ant-upload-list-picture-card
	.ant-upload-list-item-thumbnail
	img {
	display: block;
	width: 100px;
	height: 100px;
	position: static;
	border-radius: 50%;
}
#logo
	.clearfix
	.ant-upload-list-picture
	.ant-upload-list-item:hover
	.ant-upload-list-item-info,
#logo
	.clearfix
	.ant-upload-list-picture-card
	.ant-upload-list-item:hover
	.ant-upload-list-item-info:before {
	background: transparent;
	width: 100px;
	border-radius: 50%;
	height: 100px;
}

#logo .clearfix-small .ant-upload-list-picture-card .ant-upload-list-item {
	width: 70px;
	height: 70px;
	border-radius: 50%;
	margin: auto;
	-ms-flex-line-pack: center;
	align-content: center;
	border: none;
}
#logo
	.clearfix-small
	.ant-upload-list-picture-card
	.ant-upload-list-item-thumbnail,
#logo
	.clearfix-small
	.ant-upload-list-picture-card
	.ant-upload-list-item-thumbnail
	img {
	display: block;
	width: 50px;
	height: 50px;
	position: static;
	border-radius: 50%;
}
#logo
	.clearfix-small
	.ant-upload-list-picture
	.ant-upload-list-item:hover
	.ant-upload-list-item-info,
#logo
	.clearfix-small
	.ant-upload-list-picture-card
	.ant-upload-list-item:hover
	.ant-upload-list-item-info:before {
	background: transparent;
	width: 50px;
	border-radius: 50%;
	height: 50px;
}

#createTrip .clearfix .ant-upload-list-picture-card .ant-upload-list-item {
	width: 100%;
	height: 450px;
	border-radius: 5px;
	margin: auto;
	-ms-flex-line-pack: center;
	align-content: center;
	border: none;
}
#createTrip
	.clearfix
	.ant-upload-list-picture-card
	.ant-upload-list-item-thumbnail,
#createTrip
	.clearfix
	.ant-upload-list-picture-card
	.ant-upload-list-item-thumbnail
	img {
	display: block;
	width: 100%;
	height: 450px;
	position: static;
	border-radius: 5px;
}
#createTrip
	.clearfix
	.ant-upload-list-picture
	.ant-upload-list-item:hover
	.ant-upload-list-item-info,
#createTrip
	.clearfix
	.ant-upload-list-picture-card
	.ant-upload-list-item:hover
	.ant-upload-list-item-info:before {
	background: transparent;
	width: 100%;
	height: 450px;
}

.g-floatting-btn {
	margin: 0px;
	top: auto;
	left: auto;
	position: fixed;
	bottom: 297px;
	right: 318px;
	z-index: 300;
}
