.fileContainer {
	overflow: hidden;
	position: relative;
}

.fileContainer [type="file"] {
	cursor: inherit;
	display: block;
	font-size: 999px;
	filter: alpha(opacity=0);
	/* min-height: 100%;
	min-width: 100%; */
	opacity: 0;
	position: absolute;
	right: 0;
	text-align: right;
	top: 0;
}
.fileContainer [type="submit"] {
	cursor: inherit;
	display: block;
	font-size: 999px;
	filter: alpha(opacity=0);
	/* min-height: 100%;
	min-width: 100%; */
	opacity: 0;
	position: absolute;
	left: 0;
	text-align: right;
	top: 0;
}

/* Example stylistic flourishes */

.fileContainer {
	border-radius: 0.5em;
	font-weight: bold;
	padding: 0.5em;
	/* margin: auto; */
	align-content: center;
	align-items: center;
}

.fileContainer [type="file"],
.fileContainer [type="submit"] {
	cursor: pointer;
}
